#start {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 100%;
}
#right-panel {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 5px;
    top: 60%;
    margin-top: -195px;
    height: 330px;
    width: 200px;
    padding: 5px;
    z-index: 5;
    border: 1px solid #999;
    background: #fff;
}
.Title {
    font-size: 22px;
    margin: 0 0 5px 0;
}
.ulResult {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 271px;
    width: 200px;
    overflow-y: scroll;
    box-sizing: content-box;
}
li {
    background-color: #f1f1f1;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
li:nth-child(odd) {
    background-color: #fcfcfc;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    z-index: 6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input{
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;}

#destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 250px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}

#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.flexWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    flex: 1;
    order: 1;
    padding: 20px;
}

.right {
    flex: 1;
    order: 2;
}
.Position{
    position: absolute;!important;
}

input {
    height: 100%;
    font-size: 1.4em;
}

input[type=text] {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
}
input[type=submit] {
    width: 20%;
    position: absolute;
    right: 0;
    top: 2px;
    border: 1px solid #ddd;
    background: #FFF;
}


